@import url('global.css');

/* stylelint-disable selector-class-pattern */
main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 100%;
    
    @media (width >= 768px) {
        display: grid;
        grid-template: 
        "title pictures"
        /
        40% auto;
    }

    & h1 {
        grid-area: "title";
        text-align: center;
        font-size: 32px;
    }

    .pictures {
        grid-area: "pictures";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;

        /* Cuando se use el diseño de tablets o desktop alinear 
        a la derecha */
        @media (width >= 768px) {
            align-items: flex-end;
        }
    }
}

.pictures__card {
    cursor: pointer;
    background-color: #efefef;
    border-radius: 5px;
    min-height: 220px;
    width: 80%;
    box-shadow: 0 0 1px 1px rgb(239 239 239);

    /* stylelint-disable-next-line no-descending-specificity */
    &:hover {
        box-shadow: 0 0 0 1px var(--bright-color);
    }
    
    .pictures__img {
        display: block;
        background-size: cover;
        width: 100%;
        height: 150px;
    }

    & h3 {
        color: black;
        text-align: center;
    }

    & p {
        padding: 5px;
        color: black;
    }
}

.pictures__img--1 {
    background: url("../assets/laptop.jpg");
}

.pictures__img--2 {
    background: url("../assets/dispositivos2.jpg");
    background-position: center;
}

.pictures__img--3 {
    background: url("../assets/laptop.jpg");
}