/* stylelint-disable selector-class-pattern */
body {
    display: grid;
    grid-template:
    "header" 70px
    "main" auto
    "footer" 100px
    ;
    width: 100%;
    min-height: 100vh;
    background: var(--background-color);
}

header {
    display: flex;
    grid-area: "header";
    padding: 0 20px 10px;

    & img {
        display: inline-block;
    }

    & h1 {
        align-self: center;
        font-size: 20px;
    }

    .nav {
        flex: 1;
    }
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -100%;
    background-color: rgb(51 65 85 / 90%);
    box-shadow: -10px 0 10px rgb(0 0 0 / 10%);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 250px;
    gap: 10px;
    
    .sidebar__close {
        align-self: flex-end;
        background-color: transparent;
        border: none;

        & svg {
            fill: white
        }
    }

    .sidebar__item {
        font-size: 24px;
        text-align: center;

        & a {
            color: white;
            text-decoration: none;
        }
    }
}

@keyframes sidebar-animation {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}

.nav__list {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;

    /* stylelint-disable-next-line no-descending-specificity */
    a {
        color: #efefef;
        text-decoration: none;

        &:hover {
            color: var(--bright-color);
        }
    }

    &.nav__item--desktop {
        display: none;
    
        @media (width >= 768px) {
            display: inline-block;
        }
    }

    &.nav__item--mobile {
        display: inline-block;
    
        @media (width >= 768px) {
            display: none;
        }
    }
}

main {
    grid-area: "main";
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 100%;
    
    @media (width >= 768px) {
        display: grid;
        grid-template: 
        "title pictures"
        /
        40% auto;
    }

    & h1 {
        grid-area: "title";
        text-align: center;
        font-size: 32px;
    }

    .pictures {
        grid-area: "pictures";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;

        /* Cuando se use el diseño de tablets o desktop alinear 
        a la derecha */
        @media (width >= 768px) {
            align-items: flex-end;
        }
    }
}

.pictures__card {
    cursor: pointer;
    background-color: #efefef;
    border-radius: 5px;
    min-height: 220px;
    width: 80%;
    box-shadow: 0 0 1px 1px rgb(239 239 239);

    /* stylelint-disable-next-line no-descending-specificity */
    &:hover {
        box-shadow: 0 0 0 1px var(--bright-color);
    }
    
    .pictures__img {
        display: block;
        background-size: cover;
        width: 100%;
        height: 150px;
    }

    & h3 {
        color: black;
        text-align: center;
    }

    & p {
        padding: 5px;
        color: black;
    }
}

.pictures__img--1 {
    background: url("../assets/laptop.jpg");
}

.pictures__img--2 {
    background: url("../assets/dispositivos2.jpg");
    background-position: center;
}

.pictures__img--3 {
    background: url("../assets/laptop.jpg");
}


footer {
    position: relative;
    margin-top: 4px;
    grid-area: "footer";
    overflow: hidden;

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        background: url("../assets/wave.png");
        width: 100%;
        height: 80px;
        background-size: 1000px 100px;

        &:nth-child(1) {
            animation: wave-animation 30s linear infinite;
            animation-fill-mode: both;
            z-index: 1000;
            opacity: 1;
            animation-delay: 0s;
            bottom: 0;
        }

        &:nth-child(2) {
            animation: wave-animation-2 15s linear infinite;
            animation-fill-mode: both;
            z-index: 999;
            opacity: 0.5;
            animation-delay: -5s;
            bottom: 10px;
        }

        &:nth-child(3) {
            animation: wave-animation 30s linear infinite;
            animation-fill-mode: both;
            z-index: 998;
            opacity: 0.2;
            animation-delay: -2s;
            bottom: 15px;
        }

        &:nth-child(4) {
            animation: wave-animation-2 5s linear infinite;
            animation-fill-mode: both;
            z-index: 999;
            opacity: 0.7;
            animation-delay: -5s;
            bottom: 20px;;
        }
    }
}

@keyframes wave-animation {
    0% {
        background-position-x: 0%;
    }
    
    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave-animation-2 {
    0% {
        background-position-x: 0%;
    }
    
    100% {
        background-position-x: -1000px;
    }
}