/* stylelint-disable selector-class-pattern */
.heuristics {
    display: flex;
    flex-direction: column;
    
    & img {
        max-width: 90%;
        height: auto;
        align-self: center;
        padding: 20px;    
    }
}

.main__image {
    background: url('../assets/usabilidad/header.jpg');
    background-position: center;
}